body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f0fff4;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  font-family: sans-serif;
  width: 300px;
  margin-right: 50px;
  text-align: right;
  font-size: 2.5em;
}

#haiku {
  font-family: Georgia, sans-serif;
  font-size: 2em;
  margin: 30px;
  width: 350px;
}

p:hover,
#title:hover {
  cursor: pointer;
  background: bisque;
}
