/*********************************************

CSS for Code Taker

**********************************************/

body {
  padding: 30px;
  background: #7df5ff;
}

h2 {
  margin-bottom: 15px;
  padding: 0px;
}

h4 {
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

#poem {
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 100px;
}

#answer {
  width: 400px;
  height: 50px;
  border: 3px solid #fc9c00;
  font-size: 2em;
  color: #fc9c00;
  font-weight: bold;
  padding: 10px;
}

.found {
  color: #fc9c00;
  font-weight: bold;
}

/* Hide close button on dialog */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
