/*********************************************

CSS style sheet for Fogdog

**********************************************/

/* Import Source Sans Pro typeface */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Title font */
@font-face {
  font-family: "heading-font";
  src: url("../assets/fonts/ShipporiMincho-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  /* Lavender color */
  /* background: rgb(150, 160, 253); */

  font-family: "Source Sans Pro", sans-serif;

  overflow: hidden;
}

p {
  padding-bottom: 20px;
}

#letter-animation {
  width: 100px;
}

#letter {
  width: 100%;
  height: auto;
}

/* Change look of email title bar */
.email .ui-widget-header {
  /* border: 1px solid #2c4359; */
  /* Change background color */
  background: #e5ae95 url("images/ui-bg_dots-small_35_e770ff_2x2.png") 50% 50%
    repeat;
  color: #ffe6ff;
}

/* Change background color of email */
.email.ui-widget-content .ui-widget-content {
  background: #ffdca1;
}

/* Choose transportation dialog buttons */
#choose-transportation-dialog button {
  background: blue;
  font-size: 0em;
}

/* Section that displayes day number */
#day-section {
  z-index: 1000;

  /* Set top left position */
  position: absolute;
  top: 100px;
  left: 0px;

  padding: 30px;
  /* Purple */
  color: #cd76ff;
}

#day-section h1 {
  font-weight: 700;
}

/* First canvas we see */
#title-canvas {
  /* z-index: 1000; */
  /* Set top left position */
  position: absolute;
  top: 0px;
  left: 0px;

  /* Fill up whole window */
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /* Set black background */
  background: black;
}

/* Set mirror canvas position */
#mirror-canvas {
  z-index: -500;
  /* Set top left position */
  /* position: fixed;
  top: 0px;
  left: 0px; */

  position: relative;
  top: -35px;
  left: 1075px;
}

/* Canvas that is in the background of each state */
.background-canvas {
  /* Set top left position */
  position: absolute;
  top: 0px;
  left: 0px;

  /* Fill up whole window */
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Hide close button for dialog box */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

#left-puzzle-canvas {
  display: inline;

  /* Set position relative to parent's position */
  position: relative;
  top: 400px;
  right: 100px;
}

#right-puzzle-canvas {
  display: inline;

  /* Set position relative to parent's position */
  position: relative;
  top: 300px;
  left: 500px;
}

#puzzle-box {
  /* Dimensions of box */
  width: 140px;
  height: 120px;

  /* Display type */
  display: flex;

  /* Background color */
  background: white;

  /* Set margin */
  margin: 200px;
}

#puzzle-box-instructions {
  padding: 10px;
}

#hooray {
  font-size: 5em;
}

#peep-canvas {
  display: block;
  /* Set position relative to parent's position */
  position: absolute;
  top: 20px;
  right: 20px;

  width: 200px;
  height: 200px;
  /* padding: 0.5em; */
}

/* First canvas we see */
#sink-canvas {
  /* z-index: 1000; */
  /* Set top left position */
  /* position: absolute;
  top: 100px;
  left: 500px; */

  /* Fill up whole window */
  /* display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%; */

  /* Set black background */
  /* background: black; */
}
