/*********************************************

CSS style sheet for game

**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  /* Lavender color */
  background: rgb(150, 160, 253);

  overflow: hidden;
}

p {
  padding-bottom: 20px;
}

/* Hide close button for dialog box */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

#left-puzzle-canvas {
  display: inline;

  /* Set position relative to parent's position */
  position: relative;
  top: 400px;
  right: 300px;
}

#right-puzzle-canvas {
  display: inline;

  /* Set position relative to parent's position */
  position: relative;
  top: 300px;
}

#puzzle-box {
  /* Dimensions of box */
  width: 140px;
  height: 120px;

  /* Display type */
  display: flex;

  /* Background color */
  background: white;

  /* Set position relative to parent's position */
  position: relative;
  top: 100px;
  left: 600px;

  margin: 0px;
}
