/*********************************************

CSS style sheet for game

**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  /* Lavender color */
  background: rgb(150, 160, 253);
}

p {
  padding-bottom: 20px;
}

/* Hide close button for dialog box */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
